




#topmenu{
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.minus{
   margin-left: 5px;
   margin-right: 5px;
   font-size: 12px;  
}
#cart-count {
    border-radius: 50px;
    font-weight: bold;
    margin-left: 2px;
    font-size: 12px;
    padding: 1px 4px;
    box-shadow: 0 0 1px;
}